{
    "author": "John Doe",
    "description": "My first website",
    "landguage": "en",
    "navbar": [
        "templates/home.html",
        "templates/about.html"
    ],
    "home": "templates/home.html",
    // Add the css and js file paths here
    // Note that they have to be in the order that they should 
    // be added to the site
    "css_files": ["assets/css/styles.css"],
    // Add your js code here. Note that the javascript files 
    // can't have the same filenames even if they are in different
    // folders
    "scripts_header": [],
    "scripts_body": ["assets/js_body/main.js"],
}
