{
    "author": "John Doe",
    "description": "My first website",
    "navbar": [
        "templates/home.html",
        "templates/about.html"
    ],
    "home": "templates/home.html",
    // Add the css and js file paths here
    // Note that they have to be in the order that they should 
    // be added to the site
    "css_files": ["css/[filename].css"],
    "scripts_header": [],
    "scripts_body": [],
}
