<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{{ title }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" lang="en" content="{{ description }}">
		<meta name="author" content="{{ author }}">
		<meta name="robots" content="index, follow">

		<!-- icons -->
		<link rel="apple-touch-icon" href="assets/img/apple-touch-icon.png">
		<link rel="shortcut icon" href="favicon.ico">

		{{ css }}
      	{{ header_scripts }}

		<!-- Override CSS file - add your own CSS rules -->
		<link rel="stylesheet" href="assets/css/styles.css">
	</head>
	<body>
		<div class="header">
			<div class="container">
				<h1 class="header-heading">{{ sitename }}</h1>
			</div>
		</div>
		<div class="nav-bar">
			<div class="container">
				<ul class="nav">
					{% for nav_item in nav_items %}
						<li><a href="{{ nav_item.href }}">{{ nav_item.name }}</a></li>
					{% endfor %}	
				</ul>
			</div>
		</div>
		<div class="content">
			<div class="container">
				<div class="main">
					{{ content }}
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="container">
				&copy; Copyright 2015
			</div>
		</div>
		{{ body_scripts }}
	</body>
</html>