<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" />
<head>
  {% block head %}
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>{% block title %}{% endblock %}</title>
  <link href="../static/css/base.css" media="screen" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="../static/js/base.js"></script>
  <script type="text/javascript" src="../static/js/jquery-1.9.1.min.js"></script>
  {% endblock %}
</head>

<body>
  <div id="content">
    <img src="../static/images/header.png" width="1000" height="250" alt="">
      <nav id="access" role="navigation">
        <div class="menu-main-container"><ul id="menu-main" class="menu"><li id="menu-item-3990" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-3990"><a href="overview.html">Podcast</a></li>
        <li id="menu-item-3988" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3988"><a href="about.html">About</a></li>
        <li id="menu-item-3984" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3984"><a href="subscribe.html">Subscribe</a></li>
        <li id="menu-item-3989" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3989"><a href="archive.html">Archive</a></li>
        <li id="menu-item-4009" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4009"><a href="contact.html">Contact</a></li>
        <li id="menu-item-3987" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3987"><a href="impressum.html">Impressum</a></li>
        <li id="menu-item-3987" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3987"><a href="https://github.com/arattinger/pod-webgen">github</a></li>
        </ul></div>     </nav>
    <div id="main-content">
    {% block content %}{% endblock %}
    <br>
    <br>
    <br>
    </div>
  </div>
</body>
