<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" />
<head>
  {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/jumbotron-narrow.css" rel="stylesheet">

    <script type="text/javascript" src="../static/js/base.js"></script>
    <script type="text/javascript" src="../static/js/jquery-1.9.1.min.js"></script>

  {% endblock %}
</head>

<body>

  <div class="container-narrow">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="{% block active_overview %}{% endblock %}"><a href="overview.html">Home</a></li>
          <li class="{% block active_about %}{% endblock %}"><a href="about.html">About</a></li>
          <li><a href="#">Subscribe</a></li>
          <li><a href="#">Contact</a></li>
          <li class="{% block active_impressum  %}{% endblock %}"><a href="#">Impressum</a></li>
          <li><a href="#">github</a></li>
        </ul>

        <h3 class="text-muted">Dynamod</h3>
      </div>


      {% block content %}{% endblock %}
      <div class="footer">
        <p>&copy; Company 2013</p>
      </div>

    </div> <!-- /container -->
  <script src="../static/js/bootstrap.min.js"></script>
</body>
