{% extends "base.html" %}
{% block title %}Overview{% endblock %}
{% block head %}
    {{ super() }}
	<link href="../static/css/podlove-web-player.css" media="screen" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="../static/js/html5shiv.js"></script>
	<script type="text/javascript" src="../static/js/podlove-web-player.js"></script>
{% endblock %}


{% block active_overview %}
active
{% endblock %}

{% block content %}

      <div class="jumbotron">
        <h1>{{ title }}</h1>
        <p class="lead">{{ description }}</p>
      </div>

      <div class="row marketing">
        <div class="col-lg-12">
		{% for episode in episodes %}
		<h4><a href="{{ episode.uuid}}.html">{{ episode.metadata.title }}</a></h4>
		<p>{{ episode.metadata.subtitle }}</p>
        <p>
		<audio id="{{ episode.uuid }}">
		</audio>
		<script>
			$('#{{ episode.uuid }}').podlovewebplayer({
				poster: '../static/images/cover.jpg',
				title: '{{ episode.metadata.title }}',
				permalink: 'http://podlove.github.com/podlove-web-player/standalone.html',
				subtitle: '{{ episode.metadata.subtitle }}',
				summary: 'Sample Summary',
				duration: '{{ episode.length_timestring }}',
				alwaysShowHours: true,
				startVolume: 0.8,
				width: 'auto',
				summaryVisible: false,
				timecontrolsVisible: false,
				sharebuttonsVisible: false,
				chaptersVisible: false
			});
		</script>
		</p>
		{% endfor %}
        </div>

      </div>

{% endblock %}
